.chat-container {
  width: 100%;
  overflow-x: auto;
}

.chat-table {
  width: 100%;
  border-collapse: collapse;
}

.chat-table th,
.chat-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

.chat-table th {
  background-color: #004e7d;
  color: white;
}

.chat-table td:nth-child(2) { /* Make the comment column the largest */
  width: 50%;
  word-break: break-word; /* Ensures long words wrap to the next line */
}

.chat-table td:nth-child(3) { /* Adjust the width of the date column */
  width: 20%;
}

.unread-comment {
  background-color: #f8d7da;
}

.unread-icon {
  color: red;
}

.chat-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat-form div {
  margin-bottom: 10px;
}

.chat-form input[type="text"],
.chat-form input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 20px);
  box-sizing: border-box;
}

.chat-form button {
  padding: 10px 20px;
  border: none;
  background-color: #004e7d;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.chat-form button:hover {
  background-color: #00334d;
}
