.form-editor-container {
    padding: 20px;
    margin-top: 80px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-editor-controls {
    display: block;
    margin-bottom: 20px;
}

.form-editor-controls select,
.form-editor-controls input,
.new-item-form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.checkbox-label {
    margin-right: 20px;
}

.form-fields {
    margin-top: 20px;
}

.form-field {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.field-row {
    display: flex;
    margin-bottom: 10px;
}

.field-column {
    flex: 1;
    margin-right: 10px;
}

.applicability-toggle {
    background-color: #004e7d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 20px;
}

.applicability-section {
    margin-bottom: 20px;
}

.modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    max-height: 90%;
    overflow-y: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-actions button:first-child {
    flex: 1;
    margin-left: 0;
    margin-right: 5px;
}

.modal-actions button:last-child {
    flex: 1;
    margin-right: 0;
    margin-left: 5px;
}



.forms-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.forms-table th,
.forms-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.forms-table th {
    background-color: #004e7d;
    color: white;
    text-align: left;
}

.forms-table td {
    text-align: left;
}

.forms-table button {
    margin: 0 5px;
}

button:hover {
    background-color: #00334d;
}
