.navbar {
    background-color: #004e7d;
    padding: 10px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar ul li {
    display: inline;
  }
  
  .navbar ul li a, .navbar ul li button {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .navbar ul li button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .navbar ul li a:hover, .navbar ul li button:hover {
    background-color: #00334d;
  }
  