.update-vessel-container {
    padding: 20px;
    margin-top: 60px; /* Adjust this value as needed to make the header visible */
  }
  
  .vessel-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .vessel-form label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .vessel-form input,
  .vessel-form select,
  .vessel-form button {
    margin-top: 5px;
  }
  